---
import Layout from "$src/layouts/Layout.astro";
import LeftProfileLayout from "$lib/components/LeftProfileLayout.astro";
import BentoCard from "$lib/components/cards/BentoCard.astro";
import GithubCard from "$lib/components/cards/GithubCard.astro";
import { Image } from "astro:assets";
import EasyTextCard from "$lib/components/cards/EasyTextCard.astro";
import TitleCard from "$lib/components/cards/TitleCard.astro";
import KPDH from "$src/assets/kpdh.webp";
import LinkedIn from "$src/assets/LI-In-Bug.png";
import NiceBots from "$src/assets/nicebots.png";
import Pycord from "$src/assets/pycord-logo-solid-256.png";
import { Printables, Svelte, Github, Discord, Shadcnui, Tailwindcss } from "simple-icons-astro";
import { Scale, Egg } from "@lucide/svelte";
import BentoCards from "$lib/components/cards/BentoCards.astro";
import { getCollection } from "astro:content";
import PostCard from "$lib/components/cards/PostCard.astro";

const lastPost = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];

const quotes: [string, string, string][] = [
  [
    "The idea that being exposed to an idea is enough to be indoctrinated by it assumes a seamless and quick passage from thought to conviction, bypassing all judgment and evaluation.",
    "Judith Butler",
    "Who's Afraid of Gender ?",
  ],
  [
    "[...] the contradiction itself is what works, in effect “emancipating” people from the task of developing a rational position, a pathway to fascism.",
    "Judith Butler",
    "Who's Afraid of Gender ?",
  ],
  [
    "Informed public debate becomes impossible when some parties refuse to read the material under dispute.",
    "Judith Butler",
    "Who's Afraid of Gender ?",
  ],
  [
    'People are turning into machines, [...]. And no doubt sometimes they become perfect machines. But I do not believe they can think. If they tried to think, they could not have been such fine machines."',
    "Pyotr Demyanovich Uspensky",
    "In Search of the Miraculous",
  ],
  [
    "The opposition to gender, along with the defense of the family (against any challenge to its heteronormativity) and the nation (against any challenge to its racial purity), is linked with a eugenics that belongs to the history and present of fascism.",
    "Judith Butler",
    "Who's Afraid of Gender ?",
  ],
  [
    "And if the central religious image was a woman giving birth and not, as in our time, a man dying on a cross, it would not be unreasonable to infer that life and the love of life rather than death and the fear of death—were dominant in society as well as art.",
    "Riane Eisler",
    "The Chalice and the Blade",
  ],
  [
    "If we were not capable of such a distinction, then the only dignified lives would be those that mirrored our own—an assertion of narcissism, supremacy, and cultural arrogance that refuses the ethical encounter with difference.",
    "Judith Butler",
    "Who's Afraid of Gender ?",
  ],
];

const noscriptQuote: [string, string, string] = quotes[Math.floor(Math.random() * quotes.length)];
---

<script define:vars={{ quotes }}>
  function setRandomQuote() {
    const quoteBody = document.getElementById("quote-body");
    const quoteAuthor = document.getElementById("quote-author");
    if (!quoteBody || !quoteAuthor) return;
    const currentQuote = quotes[Math.floor(Math.random() * quotes.length)];
    quoteBody.innerHTML = currentQuote[0];
    quoteAuthor.innerHTML = `— ${currentQuote[1]} • ${currentQuote[2]}`;
  }

  document.addEventListener("astro:page-load", setRandomQuote);
</script>
<Layout>
  <LeftProfileLayout slotContainerClass="large:mx-0 -mx-4 w-full shrink-0">
    <BentoCards class="large:-mt-2">
      <GithubCard />
      <!--<BentoCard width={2} height={1} class="items-center justify-center p-0">
        <Image src={KPDH} alt="KPOP Demon Hunters Poster" />
      </BentoCard>-->
      <BentoCard width={2} height={2}>
        <blockquote
          id="quote-body"
          class="border-muted-foreground border-l-2 pl-2 text-justify text-base"
        >
          <noscript>
            {noscriptQuote[0]}
          </noscript>
        </blockquote>
        <span id="quote-author" class="text-muted-foreground text-sm">
          <noscript>
            — {noscriptQuote[1]} • {noscriptQuote[2]}
          </noscript>
        </span>
      </BentoCard>
      <PostCard post={lastPost} />

      <EasyTextCard
        width={1}
        height={1}
        brandColor="#5865f2"
        icon={Discord}
        href="https://discord.com/users/707196665668436019"
        title="@paillat"
        sub="Discord"
      />
      <EasyTextCard
        width={1}
        height={1}
        brandColor="#2868b2"
        href="https://www.linkedin.com/in/paillat-dev/"
        title="Jérémie C."
        sub="LinkedIn"
      >
        <Image src={LinkedIn} alt="LinkedIn Logo" slot="icon" class="bg-transparent" />
      </EasyTextCard>
      <TitleCard width={4}> Misc Projects / Portfolio </TitleCard>
      <EasyTextCard
        width={2}
        height={1}
        href="https://pycord.dev/about"
        title="Pycord-Development, my main occupation currently"
        sub="Project Manager and Maintainer of the Discord API Wrapper for Python, Pycord."
        brandColor="#ffffff"
      >
        <Image src={Pycord} alt="Pycord Logo" slot="icon" class="bg-transparent" />
      </EasyTextCard>
      <EasyTextCard
        width={1}
        height={1}
        href="https://nicebots.xyz/"
        title="NiceBots.xyz"
        sub='My biggest side "project".'
      >
        <Image src={NiceBots} alt="NiceBots Logo" slot="icon" class="bg-transparent" />
      </EasyTextCard>
      <EasyTextCard
        width={1}
        height={1}
        href="https://www.printables.com/@paillat"
        title="(Some of) My 3d Models"
        sub="prinables.com"
        brandColor="#fa682d"
        icon={Printables}
      />
      <EasyTextCard
        width={2}
        height={1}
        href="https://github.com/Paillat-dev/saferaise"
        title="Saferaise"
        sub="Checked exceptions for Python. Declare what your functions raise, and let saferaise enforce it - using your existing try/except blocks."
        icon={Github}
        brandColor="#000000"
      />
      <EasyTextCard
        width={2}
        height={1}
        href="https://discordcn.dev"
        title="DiscordCN"
        sub=" An unofficial, community-driven inspirational reference for Discord app interface patterns. Built with Astro, Svelte, TailwindCSS and lots of time."
        icon={Github}
        brandColor="#000000"
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://github.com/ItsDrike/code-jam-2024"
        title="Python Discord Code Jam 11"
        sub="Went top 10 with our team!"
        icon={Github}
        brandColor="#000000"
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://mediationcorner.ch/"
        title="Mediationcorner"
        sub="A commissioned website. Built with Astro, Svelte and TailwindCSS."
        icon={Scale}
        iconClass="text-foreground"
        brandColor="transparent"
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://www.github.com/Paillat-dev/paillat-dev.github.io"
        title="This Website !"
        sub="Built with Astro, Svelte and TailwindCSS."
        brandColor="#000000"
        icon={Github}
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://github.com/Paillat-dev/svelte-github-calendar/"
        title="svelte-github-calendar"
        sub="Used above to display my activity."
        brandColor="#000000"
        icon={Github}
      />
      <TitleCard width={4}> Tools and Tech I use </TitleCard>
      <EasyTextCard
        width={1}
        height={1}
        href="https://www.printables.com/@paillat"
        title="Svelte"
        sub="svelte.dev"
        brandColor="#ff3d00"
        icon={Svelte}
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://www.shadcn-svelte.com/"
        title="shadcn-svelte"
        sub="shadcn-svelte.com"
        brandColor="#000000"
        icon={Shadcnui}
        iconClass="text-[#ff3d00]"
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://tailwindcss.com/"
        title="TailwindCSS"
        sub="tailwindcss.com"
        icon={Tailwindcss}
        iconClass="text-[#34bdf7]"
      />
      <EasyTextCard
        width={1}
        height={1}
        href="https://hatch.pypa.io"
        title="Hatch"
        sub="hatch.pypa.io"
        brandColor="#4051b5"
      >
        <Egg slot="icon" fill="#ffffff" />
      </EasyTextCard>
    </BentoCards>
  </LeftProfileLayout>
</Layout>
