---
import { type CollectionEntry } from 'astro:content';
import { type ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';
import { Button } from '@lib/components/ui/button';
import { Badge } from '@lib/components/ui/badge';
import { SiGithub } from '@icons-pack/svelte-simple-icons';
import { badgesMap } from '@lib/config/badgesMap.ts';

export interface Props {
  project: CollectionEntry<'projects'>;
  image?: ImageMetadata | null;
  class?: string;
  [key: string]: any;
}

const {
  project,
  image = null,
  class: className = '',
  ...rest
}: Props = Astro.props;
---

<div
  class={twMerge(
    'rounded-lg border border-zinc-200 bg-white adding-4 shadow-md flex flex-col gap-4 p-4 h-full',
    className
  )}
  transition:name={`project-card-${project.slug}`}
  {...rest}
>
  {image && <Image src={image} alt={project.data.title} />}
  <h4 transition:name={`project-title-${project.slug}`}>
    {project.data.title}
  </h4>
  <div class="flex flex-row flex-wrap gap-1">
    {
      [...project.data.languages, ...project.data.platforms, ...project.data.tags].map(tag => (
        <Badge
          transition:name={`project-badge-${tag}-${project.slug}`}
          {...(badgesMap[tag] || badgesMap['default'])}
        >
          {tag}
        </Badge>
      ))
    }
  </div>
  <p transition:name={`project-description-${project.slug}`} class="h-max grow">
    {project.data.description}
  </p>
  <div class="align-center flex flex-row">
    <Button variant="default" href={`/projects/${project.slug}`}
      >Read More</Button
    >
    {
      project.data.githubSlug && (
        <Button
          variant="link"
          href={`https://github.com/${project.data.githubSlug}`}
          class=""
        >
          <SiGithub />
        </Button>
      )
    }
  </div>
</div>
