---
import { getImage } from "astro:assets";
import Avatar from "$src/assets/pfp.jpg";
import AvatarLandscape from "$src/assets/pfp_landscape.jpg";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Hi I'm Paillat, I like doing thins on the internet",
  image: providedImage,
} = Astro.props;

const baseTitle = "Paillat-dev";
const pageTitle = title ? `${title} | ${baseTitle}` : baseTitle;
const canonical = Astro.url?.href;
const siteUrl = "https://paillat.dev";

let image: string;

if (providedImage === undefined) {
  image = (await getImage({ src: AvatarLandscape, format: "png", inferSize: true, widths: [1080] }))
    .src;
} else {
  image = providedImage;
}

const absoluteImage: string = image.startsWith("http") ? image : `${siteUrl}${image}`;

const iconImage: string = (
  await getImage({
    src: Avatar,
    format: "png",
    inferSize: true,
    widths: [256],
  })
).src;
---

<!--
SPDX-License-Identifier: MIT
Copyright: 2026 NiceBots.xyz
-->
<title>{pageTitle}</title>
<meta name="description" content={description} />

<link rel="icon" type="image/svg+xml" href={iconImage} />
<link rel="apple-touch-icon" href={iconImage} />

<meta property="og:type" content="website" />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={absoluteImage} />
<meta property="og:image:alt" content={`${baseTitle} - Paillat-dev`} />
{canonical && <meta property="og:url" content={canonical} />}
<meta property="og:site_name" content={baseTitle} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={absoluteImage} />
<meta name="twitter:image:alt" content={`${baseTitle} - Paillat-dev`} />

<meta name="theme-color" content="#TODO" />

{canonical && <link rel="canonical" href={canonical} />}
